*{
    margin: 0;
    padding: 0;
}
body{

       background-color:#2131307c;
    background-image:url("../img/img_floresta.jpg");
    background-blend-mode: multiply;
}
nav{
    background-color: #213130;
    height: 60px;
    display: flex;
    align-content: flex-end;
    flex-direction: row-reverse;
    padding: 16px;
}
nav button{
    height: 53px;
    width: 105px;
    font-size: 24px;


}
.tarefas{
    background-color: #7B8D6C;
    display: block;
    margin: 30px auto ;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 70%;
    
}
.containerTarefas{
    background-color: #212121;
    width: 300px;
    padding: 20px 0;
    margin: auto;
    border-radius: 30px;
    


}
.principal{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}
.checkbox{
    align-self: flex-end;
}

.formulario{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5%;
    font-size: 1.2em;
}

.formulario div{
    margin-top: 20px;
 
}
button{
    font-size: 1rem;
    padding: 5px;
}

